<form action="/" method="get">
    <button type="submit">Home</button>
</form>
<form action="/lista" method="get">
    <button type="submit">Lista de compras</button>
</form>
<form action="/contacts" method="get">
  <button type="submit">Contactos</button>
</form>